@charset "UTF-8";

/* 回答はここに書いてね */
.box--table {
  width: 100%;
  background-color: #ecf1f2;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.row {
  margin: 0 -10px;
  font-size: 0;
}

.row:not(:first-child) {
  margin-top: 20px;
}

.col {
  display: inline-block;
  padding: 0 10px;
  box-sizing: border-box;
}

.character {
  height: 50px;
  font-size: 16px;
  background-color: #ffffff;
  line-height: 50px;
  text-align: center;
}

.col--12 {
  width: 100%;
}

.col--6 {
  width: 50%;
}

.col--4 {
  width: 33.333%;
}

.col--3 {
  width: 25%;
}

.col--24 {
  width: 20%;
}

.col--2 {
  width: 16.666%;
}

.col--63-6 {
  width: 50%;
}

.col--63-3 {
  width: 25%;
}

.col--224-2 {
  width: 16.666%;
}

.col--224-4 {
  width: 33.333%;
}

/* 回答はここに書いてね */
