@charset "UTF-8";

/* 回答はここに書いてね */
.form-box {
  text-align: center;
}

.form-box__contents {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  font-size: 16px;
  margin: 5px;
}

.form-box__input-text {
  color: #00bcd4;
  border: solid 1px #00bcd4;
  border-radius: 5px;
  padding: 5px;
}

.form-box__input-text:focus {
  box-shadow: 0 0 7px #00bcd4;
}

.form-box__input-text::-webkit-input-placeholder {
  color: #00bcd4;
}

.form-box__textarea {
  height: 40px;
  border: solid 1px #00bcd4;
  border-radius: 5px;
  resize: none;
  padding: 5px;
  vertical-align: middle;
}

.form-box__inputbtn,.form-box__inputbox {
  display: inline-block;
}

.form-box__inputbtn__input-radio,.form-box__inputbox__input-checkbox {
  display: none;
}

.form-box__inputbtn__label,.form-box__inputbox__label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.form-box__inputbtn__label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.form-box__inputbox__label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
}

.form-box__inputbtn__input-radio:checked + label:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  margin: -4px;
  background: #00bcd4;
  border-radius: 50%;
}

.form-box__inputbox__input-checkbox:checked + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  width: 13px;
  height: 5px;
  border-left: solid 2px #00bcd4;
  border-bottom: solid 2px #00bcd4;
  transform: rotate(-45deg);
}

.form-box__select-1 {
  display: inline;
}

.form-box__select-1__label {
  position: relative;
  background-color: #fff;
}

.form-box__select-1__label:after {
  content: '';
  position: absolute;
  top: 1px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-left: solid 2px #ccc;
  border-bottom: solid 2px #ccc;
  transform: rotate(-45deg);
  pointer-events: none;
}

.form-box__select-1__label-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 5px 30px 5px 5px;
}

.form-box__button {
  color: #00bcd4;
  background-color: #fff;
  border: solid 1px #00bcd4;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.form-box__button:active {
  color: #ffffff;
  background-color: #00bcd4;
}
/* 回答はここに書いてね */
