@charset "UTF-8";

/* 回答はここに書いてね */

.table-box {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

.table-box__tr:nth-child(odd) > td {
  background-color: #ecf1f2;
}

.table-box__tr:last-child {
  border-top: dashed #000 2px;
}

.table-box__tr__th,.table-box__tr__td {
  border: solid #dedede 1px;
  padding: 10px 0;
  word-break: break-all;
}

.table-box__tr__th {
  color: #fff;
  background-color: #24a;
  font-size: 18px;
  line-height: 26px;
}

.table-box__tr__td {
  font-size: 16px;
  line-height: 22px;
}

/* 回答はここに書いてね */
